.card-container {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border: 1px solid red;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    color: #fff;
}

.card-container:hover {
    transform: scale(1.05);
    background-color: #141414;
}

.card-container img {
    max-width: 180px;
    margin: 0 auto;
}

.card-container h2 {
    color: #8a0303;
    font-family: 'Creepster', cursive;
}